<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.pruebasql">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.PruebaSQL"
            android:usesCleartextTraffic="true"
            tools:targetApi="31">

        <!-- ... (MainActivity, Insertar_usuario, etc.) ... -->
        <activity
                android:name=".Insertar_usuario"
                android:exported="false"/>
        <activity
                android:name=".PantallaPasajero"
                android:exported="false"/>

        <!-- ¡NUEVA PANTALLA DE PAGO! -->
        <activity
                android:name=".PantallaPago"
                android:exported="false"
                android:theme="@style/Theme.AppCompat.Light.Dialog"/> <!-- Estilo de diálogo opcional -->

        <activity
                android:name=".PantallaConductor"
                android:exported="false"
                android:theme="@style/Theme.PruebaSQL.NoActionBar"/>

        <activity
                android:name=".DocumentoConductor"
                android:exported="false"/>

        <activity
                android:name=".PantallaHistorialConductor"
                android:exported="false"
                android:theme="@style/Theme.PruebaSQL.NoActionBar"/>

        <activity
                android:name=".PantallaOperativo"
                android:exported="false"
                android:theme="@style/Theme.PruebaSQL.NoActionBar"/>

        <activity
                android:name=".PantallaGestionIncidencias"
                android:exported="false"
                android:theme="@style/Theme.PruebaSQL.NoActionBar"/>
        <activity
                android:name=".Vehiculo_Conductor"
                android:exported="false"
                android:theme="@style/Theme.PruebaSQL.NoActionBar"/>

        <!-- ... (El resto de tu manifest) ... -->
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>